src/main/mule/implementation/impl-comm-mgmt-prc-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:java="http://www.mulesoft.org/schema/mule/java" xmlns:batch="http://www.mulesoft.org/schema/mule/batch"
	xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xmlns:sftp="http://www.mulesoft.org/schema/mule/sftp"
	xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:os="http://www.mulesoft.org/schema/mule/os"
	xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/sftp http://www.mulesoft.org/schema/mule/sftp/current/mule-sftp.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/java http://www.mulesoft.org/schema/mule/java/current/mule-java.xsd">
	<flow name="process-file" doc:id="251537cf-7e62-4a86-b87c-86936eb1e250">
		<logger level="INFO" doc:name="Flow Start" doc:id="b04269df-53dd-442b-a985-8e96a2de0826"
			message="#[%dw 2.0 output application/java 
fun getCurrentDate() =  now() as String {format: &quot;dd/MM/yyyy hhss&quot; } 
--- 
getCurrentDate() default '' ++ &quot; | &quot; ++  
app.name default '' ++ &quot; | &quot; ++ 
vars.logging.eventType default '' ++ &quot; | &quot; ++ 
vars.logging.source.address default '' ++ &quot; | &quot; ++ 
vars.logging.source.userid default '' ++ &quot; | &quot; ++   
vars.logging.destination.address ++ &quot; | &quot; ++   
vars.logging.destination.userid default '' ++ &quot; | &quot; ++
'Flow Start'  ++ ' fileName: '  ++ vars.fileName  default &quot;&quot;]"
			category="${app.name}" />
		<ee:transform doc:name="Set fileName" doc:id="54c19813-b540-4da7-9652-9cf2e6adadcc">
			<ee:message />
			<ee:variables>
				<ee:set-variable variableName="fileName"><![CDATA[%dw 2.0
output application/java
---
attributes.fileName]]></ee:set-variable>
			</ee:variables>
		</ee:transform>

		<ee:transform doc:name="Set source source and destination path." doc:id="cdfe3694-567a-4c95-bcdb-47c6d48bc5ea">
			<ee:message />
			<ee:variables>
				<ee:set-variable variableName="sourcePath"><![CDATA[%dw 2.0
output application/java
---
p('local.input') ++ "/" ++ vars.fileName default ""]]></ee:set-variable>
				<ee:set-variable variableName="destinationPath"><![CDATA[%dw 2.0
output application/java
---
trim(p('local.output')) ++ "/" default "" ++ vars.fileName]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<try doc:name="Try" doc:id="a4aa998a-8838-4604-ae49-001067feebb6">
			<logger level="INFO" doc:name="Log Processing" doc:id="082497f7-dd73-49e7-89b1-693330c969c6"
				message="#[%dw 2.0 output application/java fun getCurrentDate() =  now() as String {format: &quot;dd/MM/yyyy hhss&quot; } --- &#10;&quot;Processing file&quot; ++ &quot; | &quot; ++ getCurrentDate() default ''  ++ &quot; | &quot; ++ ' fileName: '  ++ vars.fileName  default &quot;&quot;]" />
			<ee:transform doc:name="Extract data" doc:id="43512bf2-627c-4c98-81f9-345cc7c47621">
				<ee:message>
					<!-- <ee:set-payload ><![CDATA[%dw 2.0 @StreamCapable() input payload application/json output application/xml deferred=true, indent=false 
						-&#45;&#45; { protein: { itemList: payload.root.*"Entry" map { ("i_" ++ $$) : { id: $.AC, productId: $.Features.DOMAIN, quantity: $.Features.BINDING 
						} } } }]]></ee:set-payload> -->
					<ee:set-payload><![CDATA[%dw 2.0
input payload application/json
output application/xml deferred=true, indent=true
---
{
  protein: {
    itemList: payload.root.*"Entry" map {
      ("i_" ++ $$) : {
        ac: $.AC,
        domain: $.Features.DOMAIN,
        binding: $.Features.BINDING
      }
    }
  }
}]]></ee:set-payload>
				</ee:message>
			</ee:transform>
			<logger level="DEBUG" doc:name="Log after tag removal" doc:id="9b692d5e-6da5-4ccf-a5c0-47e16ec5012f"
				message="Log after transformation" category="${app.name}.debug" />
			<flow-ref doc:name="Write File To Local" doc:id="63143624-893f-4bde-8467-130573f527d5" name="transform-and-write-stream:sub-map" />
			<error-handler>
				<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate"
					doc:id="81083000-e933-4e94-ad9b-11de326fb087">
					<logger level="ERROR" doc:name="Log Error" doc:id="13cfbd21-3f6d-4c49-a18c-63c1f6817d0c"
						message="#[%dw 2.0 output application/java fun getCurrentDate() =  now() as String {format: &quot;dd/MM/yyyy hhss&quot; } --- 
&quot;Error while processing the file&quot; ++ &quot; | &quot; ++ getCurrentDate() default '' ++ &quot; | &quot; ++   &quot;Failed&quot; ++ &quot; | &quot; ++   ((error.description default error.errorMessage) default error.cause)   ++ ' fileName: '  ++ vars.fileName  default &quot;&quot;]"
						category="${app.name}" />
				</on-error-propagate>
			</error-handler>
		</try>
		<error-handler>
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate"
				doc:id="7d7979ab-1cf4-4d60-91c2-b525863aa1b1" type="ANY">
				<logger level="ERROR" doc:name="Log Error" doc:id="54e2ca5f-3d82-4397-be2e-bfa8d7dfd0cc"
					message="#[%dw 2.0 output application/java fun getCurrentDate() =  now() as String {format: &quot;dd/MM/yyyy hhss&quot; } --- 
&quot;Error while processing the file&quot; ++ &quot; | &quot; ++ getCurrentDate() default '' ++ &quot; | &quot; ++   &quot;Failed&quot; ++ &quot; | &quot; ++   ((error.description default error.errorMessage) default error.cause)   ++ ' fileName: '  ++ vars.fileName  default &quot;&quot;]"
					category="${app.name}" />
			</on-error-propagate>
		</error-handler>
	</flow>
	<sub-flow name="transform-and-write-stream:sub-map" doc:id="0202e937-6dae-4e96-a8b3-53be3919cc98">
		<file:write doc:name="Write" doc:id="05f4f1f3-2f50-4899-86a2-e8c0faf79775" config-ref="File_Config_local"
			path="#[%dw 2.0 output application/java --- vars.destinationPath]" />
		<logger level="INFO" doc:name="Log after writting into disk" doc:id="039b583a-6367-4263-9c45-8742c773d256"
			message="+++ After writting to disk" category="${app.name}.debug" />
	</sub-flow>
</mule>